@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

:root {
  --primary-color: #03e3b8;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0d0e;
}

#root {
  height: 100%;
  position: relative;
}

.homepage {
  min-height: 100%;
  background: url('./assets/home-bg.png') top center / cover no-repeat fixed;
}

.title {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

@supports (scrollbar-width: auto) {
  * {
    scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
  }
}

@supports selector(::-webkit-scrollbar) {
  html:has(input[name="fix-safari"]:checked) :hover {
    --safari-fix: ; 
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #0c0d0e;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-right: 2px solid #030F17;
  }
  ::-webkit-scrollbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat #0c0d0e;
    background-size: 10px;
    background-position: center bottom;
  }
  ::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='125' height='125' fill='rgb(71, 71, 71)'><polygon points='0,50 100,50 50,0'/></svg>");
  }
  ::-webkit-scrollbar-button:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='125' height='125' fill='rgb(71, 71, 71)'><polygon points='0,0 100,0 50,50'/></svg>");
  }  
}

.input-box {
  position: relative;
}

.login-input-box svg {
  position: absolute;
  height: 20px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #7f858d;
  font-size: 18px;
}

.input-box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 48px;
  transition: 300ms;
  pointer-events: none;
  color: rgb(127, 133, 141);
  color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
}

.register-input-box label {
  left: 16px;
}

.input-box input {
  padding: 12px 16px 12px 48px;
  border-radius: 3px;
  background-color: transparent;
  width: 100%;
  outline: none;
  color: rgb(35, 38, 43);
  color: white;
}

.input-pad {
  padding: 12px 16px 12px 16px !important;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
  top: 0;
  left: 20px;
  background: #15161a;
  padding: 0px 5px;
  color: var(--primary-color);
}

.input-box input:focus ~ .input-error,
.input-box input:not(:placeholder-shown) ~ .input-error {
  color: #ad3e3e !important;
}

.register-input-box input:focus ~ label,
.register-input-box input:not(:placeholder-shown) ~ label {
  left: 12px;
}

.input-box input:not(:focus) ~ label {
  color: rgb(127, 133, 141);
}

.input-box input:not(:focus) ~ .input-error {
  color: #ad3e3e;
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

img.lazyload.loaded {
  opacity: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
}